# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [45]:
number = 8
print(number)

8

##### Assinging float

In [46]:
numberFloat = 1.9
numberFloat = 2.9
numberFloat = 2.4
print(numberFloat)

2.4

#### Performing Calculations on ints and floats

##### Addition

In [47]:
num1 = 4
num2 = 3.7

result = num1 + num2
print(result)


# result += 2
print(result + 2)

7.7
9.7

##### Subtraction

In [48]:
result_sub = num1 - num2
print(result_sub)

0.2999999999999998

##### Multiplication

In [49]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

14.8
29.6

##### Division

In [50]:
result_div = num1 / num2
print(result_div)
result_div /+ 2
print(result_div)

1.081081081081081
1.081081081081081

##### Floor Division

In [51]:
result_floor = num1 // num2
print(result_floor)
result_floor //= 2
print(result_floor)

1.0
0.0

##### Modulo

In [52]:
result_mod = num1 % num2
print(result_mod)
result_mod %= 2
print(result_mod)

0.2999999999999998
0.2999999999999998

##### Exponential

In [53]:
square = 5 ** 2
print(square)
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [54]:
name = "Shirley"
print(name)

Shirley

##### print() <br>
<p>Don't forget about end=' '</p>

In [55]:
print( "My first name is", name)
print("My full name is", name, end= " Jones")

My first name is Shirley
My full name is Shirley Jones

##### String Concatenation

In [56]:
message = "How are you doing today, "
name = "Shirley"

print(message + name)

How are you doing today, Shirley

##### Type Conversion

In [57]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [58]:
# input will always return a string
# name = input("What is your name?")
# print(name)

age = int(input("What is your age?: "))
add_age = age + 5
print( add_age)

59

##### format()

In [69]:
age = input("What is your age?: ")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

You are 54 Shirley and you are getting wiser!
54 is a great time in life

##### Old Way (python 2)

In [70]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 54 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [91]:
name = input("What is your name?: ")
color_car = input("What is the color of your car?: ")
year_car = int(input("What is the year of your car?: "))
model_car = input("What model is your car?: ")

message_car = f"{name} your {year_car} {model_car} is {color_car}."

print(message_car)

Eric your 2014 Ford Escape is Red.

### If Statements

In [88]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

# if num1 == num2:
#     print("Equal Values")
# else:
#     print("Not Equal")

if num2 > num1 or num2 < num1:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal values")

Equal values

##### 'is' keyword

In [89]:
# The "is" keyword is checking for the same object, but not the same value.
num3= 55

#Use == because Python is going away from the is keyboard 
# or look up on how to correctly use it!
if num3 is 55: 
    print("This is the same exact number/object")

This is the same exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\caseo\AppData\Local\Temp\ipykernel_16484\2399958712.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [1]:
#Will check if a character is in a string.
char_name = "Return of the Jedi"

if "Jedi" in char_name:
    print("Star Wars Addict")

Star Wars Addict

##### 'not in' keyword'

In [4]:
hogs_char = "Harry Potter"

if "l" not in hogs_char:
    print("You did not preorder game")

You did not preorder game

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [10]:
message = input("What is your favorite fruit: ")

if "p" not in message:
    print("There is not a 'p' in " + message)
else:
    print("There is a 'P' in " + message)

There is not a 'p' in banana

## Using 'and'/'or' with If Statements

In [13]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statement
if num_11 /5 == num_12 and num_13-7 == num_14:
    print("True and True")

# if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [17]:
first_name = input("What is your name?: ")

if first_name == "Jess":
    print(" The name is Jess")
elif first_name == "Shirley":
    print("The name is Shirley")
elif first_name != "Leah":
    print("The name is Not Leah")
else:
    print("The name is Leah")

The name is Shirley

### Else Statements

In [61]:
# see above

### For Loops

In [19]:
# Syntax
# for keyword, counter in keyword, condition
# name = "Shirley Jones"

# for letter in name:
#     print(letter)
a_list = [2, 4, 6, 8]

for i in a_list:
    print(i)

2
4
6
8

##### Using 'in' keyword

In [62]:
# see above Where we are looking for (in a list, in a phrase) What we are targeting

##### Continue Statement

In [24]:
# will continue to next iteration

# for i in range(20):
#     if i ==5:
#         continue
#     print(i)

for i in name:
    if i == "r":
        continue
    print(i)

S
h
i
l
e
y

J
o
n
e
s

##### Break Statement

In [25]:
# will break out of current loop

for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [26]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass

##### Double For Loops

In [27]:
# for i in range(5):
#     for j in range(5):
#         print('i = ', i, 'j =', j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [45]:
# Syntax:
# While keyword, conditional statement
# While something is True, Do something else

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [49]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to quit! ")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Infinite Loop
Infinite Loop

##### While & For Loops Used Together

In [52]:
num = 0

while num < 5:
    print("\n While loop interation: " , str(num))

    for i in range(2):
        print("For loop interation: " , str(i))

    num += 1

 While loop interation:  0
For loop interation:  0
For loop interation:  1

 While loop interation:  1
For loop interation:  0
For loop interation:  1

 While loop interation:  2
For loop interation:  0
For loop interation:  1

 While loop interation:  3
For loop interation:  0
For loop interation:  1

 While loop interation:  4
For loop interation:  0
For loop interation:  1

### Built-In Functions

##### range()

In [53]:
# range(start, stop, step)

for i in range(3, 20, 2):
    print(i)

3
5
7
9
11
13
15
17
19

##### len()

In [55]:
#  length of something

# name = "Shirley"
name = input("What is your full name? ")

length = len(name)
print(length)

17

##### help()

In [58]:
# Use this function to view more info about a Python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [24]:
# Checks a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

# print(isinstance(2.4, int))

# if isinstance(3.5, float):
#     print("This is a float!")

num = input("Pick a number: ")
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

Pick a number: 23.8
23.8 is a float

abs()

In [7]:
#  absolute value of a number
# ex. -5 = 5

print(abs(-5))

5

### Try and Except

In [23]:
# Use this to log out graceful and useful error messages
# Does not stop the program

try:
    num_test = 0
    
    input_num = int(input("Guess a number "))
    print("Your number is an int!" + input_num)
except:
    print("That failed! Change your input to a number")

Guess a number 22
That failed! Change your input to a number

#### Lists

##### Declaring Lists

In [53]:
list_1 = []
names = ['Shirley', 'Leah', 'jessie', 'Wyatt', 'abby']
print(names)

['Shirley', 'Leah', 'jessie', 'Wyatt', 'abby']

##### Indexing a List

In [35]:
# list_name[start: stop: step:]

# # single index
# print(names[2])

# # print starting at index one going to the end
# print(names[1:])

# # print at the beginning of a list up to a number
# print(names[:2])

# # print starting at index 1 and going up BY 2 in each iteration
# print(names[1::2])

# # print starting in back and display in reverse order
# print(names[::-1])

['abby', 'Wyatt', 'jessie', 'Leah', 'Shirley']

##### .append()

In [55]:
names.append("Dave")
print(names)

['Shirley', 'Leah', 'jessie', 'Bailey', 'Wyatt', 'abby', 'Dave']

##### .insert()

In [54]:
names.insert(3, "Bailey")
print(names)

['Shirley', 'Leah', 'jessie', 'Bailey', 'Wyatt', 'abby']

##### .pop()

In [45]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_names = names.pop(6)
print(names)

['Shirley', 'Leah', 'jessie', 'Bailey', 'Wyatt', 'abby', 'Dave']


##### .remove()

In [52]:
# names.remove("Shirley")
# print(names)

# # remove multiples in a list

while "Dave" in names:
    names.remove("Dave")
print(names)

['Leah', 'jessie', 'Bailey', 'Bailey', 'Wyatt', 'abby']

##### del()

In [57]:
# Goes by index rather than value
# e careful with del, it can cause indexing errors if not used carefully

del (names[1])
print(names)

['Shirley', 'jessie', 'Bailey', 'Wyatt', 'abby', 'Dave']

##### Concatenating Two Lists

In [68]:
# Will append two lists together. It will not add the values

a_list = ["Eric", "Trevin"]
b_list = ["Rhonda", "Don"]

family_list = a_list + b_list
print(family_list)

['Eric', 'Trevin', 'Rhonda', 'Don']

##### Lists Within Lists

In [ ]:
# List can hold any type of element or datatype including other Lists!
# They can go as deep as you want. This is called nested Lists

names = ["Eric", "Trevin", "Megan", ["Wyatt", ["Abby","Skippy", "Scookie" "Rosie"]]]
print(names[3][1][1])

##### Looping Through Lists

In [72]:
# Two ways to loop through a List. One is by index, and the other is by using the in keyword

# #By index
# for i in range(len(names)):
#     print(names[i])
    
# a loop with in keyword
for i in names:
    print(i)

Eric
Trevin
Megan
['Wyatt', ['Abby', 'Skippy', 'ScookieRosie']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [73]:
for i in range(1, 1000):
    cube = i**3
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [75]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

primes = []
for i in range(2, 100):
    is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [79]:
user_age = int(input("How old are you?: "))

if user_age < 18:
    print("You are just a Kid!")
elif 18 <= user_age < 65:
    print("Welcome to Adulthood")
else:
    print("You are an old fart!")

How old are you?: 5
You are just a Kid!